# Docker
DOCKER_IMAGE_NAME=doctolib2
DOCKER_IMAGE_TAG=latest

# Spring
SPRING_PROFILES_ACTIVE=prod

# JWT
JWT_SECRET=your-jwt-secret-key

# Email
MAIL_FROM_PASSWORT=your-email-password

# Google OAuth2
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:8081/login/oauth2/code/google 